<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    {% load bootstrap3 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <title>Shorter</title>
</head>

<body>
<nav class="navbar navbar-default">
        <a class="navbar-brand" href="/">Shorter</a>
        <ul class="nav navbar-nav">
            <li><a href="{% url "all" %}">Все ссылки</a></li>
        </ul>
    </nav>
<div class="row-fluid">
    <div class="container">
        <div class="hero-unit">
            <div class="row-fluid">
                <div class="row">
                    <div class="span12">
                        <h1>Сокращатель ссылок</h1>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="span12">
                        <div class="control-group">
                            <form class="form-horizontal" id="url_submit_form" method="POST" action="/">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="span5">
                                        <div class="control-group {% if error %}error{% endif %}">
                                            <input type="text" name="url"
                                                   placeholder="Введите url"
                                                   value="{% if url %}{{ url }}{% endif %}"
                                                   id="url_input"
                                                   class="span5">
                                            {% if error %}
                                                <span class="help-inline">Введите валидный Url</span>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="span2">
                                        <button type="submit" class="btn btn-success">Сократить</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    {% if shorturl %}
                        <p>Сокращённый URL: <a href="{{ shorturl }}">{{ shorturl }}</a></p>
                    {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>