<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    {% load bootstrap3 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <title>Статистика</title>
</head>

<body>
<nav class="navbar navbar-default">
        <a class="navbar-brand" href="/">Shorter</a>
        <ul class="nav navbar-nav">
            <li><a href="{% url "all" %}">Все ссылки</a></li>
        </ul>
    </nav>
<div class="row-fluid">
    <div class="container">
        <h1>Статистика использования ссылки</h1>
        <div class="row">
            <div class="span6">
                <h3>Клики за последние 30 дней:</h3>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Дата</th>
                            <th>Кол-во кликов</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if stats|length %}
                            {% for stat in stats %}
                                <tr>
                                    <td>{{ stat.day }}</td>
                                    <td>{{ stat.hits }}</td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td colspan="2" style="text-align: center">Никто не использовал данной ссылки</td>
                            </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
            <div class="span6">
                <p><strong>URL ссылки:</strong> <a href="{{ link_url }}">{{ link_url }}</a></p>
                <p><Strong>Количество кликов:</Strong> {{ link.hits }}</p>
            </div>
        </div>

    </div>
</div>
</body>
</html>